In [1]:
#VARIABLE variable_name = value
age = '23'
girl_age = 10

ip_address = "127.0.0.1" #
fruits = ['orange','banana']
ages = [30,40,10]
collections = ['toyota','volvo','lexus']
print('My age is =',age)
print('My system ip addresss is :',ip_address)

# DATETYPES

#INTEGERS
#STRING
#LIST
#DICTIONARY
#TUPLES
#SET

# isinstance(variable_name, int)

type(fruits)

My age is = 23
My system ip addresss is : 127.0.0.1

list

In [3]:
# OPERATIONS ON A LIST
# append, pop, index, sort
##print('original collection',collections)
collections.append('benz')
print("Have gotten new car name benz",collections)

#how to use pop
collections.pop()
#print("I sold my car randomly",collections) 0 - len(list)-1
cars = ['toyota', 'volvo', 'lexus']
print(len(cars))
#3 => 0,1,2
print(cars[0])
cars.pop(2)
print("new car collections", cars)
status=True,False,1,0

Have gotten new car name benz ['toyota', 'volvo', 'lexus', 'benz']
3
toyota
new car collections ['toyota', 'volvo']

In [9]:
# sort usage
cars = ['toyota', 'volvo', 'lexus', 'benz']
print(cars)
cars.sort(reverse=True)
print(cars)

# extend

age_boy =[1,24]
age_of_girl =[20,45]
all_ages = age_boy + age_of_girl
print(all_ages)
age_boy.extend(age_of_girl)
print(age_boy)

['toyota', 'volvo', 'lexus', 'benz']
['volvo', 'toyota', 'lexus', 'benz']
[1, 24, 20, 45]
[1, 24, 20, 45]

In [14]:
#tuples 0 - len(my_tuples) - 1
my_tuples = ('volvo','benz','toyota',)
type(my_tuples)
print(my_tuples[1])
additional = ('lexus',) # to add new item to a tuple
new_tuple = my_tuples + additional
print(new_tuple)

benz
('volvo', 'benz', 'toyota', 'lexus')

In [23]:
# set
my_set = {'volvo','benz'}
type(my_set) 
my_set.add('toyota')
print(my_set)
my_set.add('benz')
print(my_set)

# remove , discard
my_set.discard('lexus')
print(my_set)

{'toyota', 'benz', 'volvo'}
{'toyota', 'benz', 'volvo'}
{'toyota', 'benz', 'volvo'}

In [31]:
#DICTIONARY {key: value}
my_dictionary = {"name": "Adenitire Ayomikun"}
type(my_dictionary)
employee_A = {"name": "Adenitire","position": "Mid-Level","salary": 8900}
print('Employee information',employee_A)
# address
employee_A.update({"address": "No 10 Abule-Egba Lagos"})
print('Updated version Employee information',employee_A)
employee_A.update({"name": "Mr Adenitire"})
print('Employee changed name',employee_A)
employee_A.pop('address')
print('Updated version after remove address',employee_A)
print(employee_A.values())
print(my_dictionary.get('name'))

Employee information {'name': 'Adenitire', 'position': 'Mid-Level', 'salary': 8900}
Updated version Employee information {'name': 'Adenitire', 'position': 'Mid-Level', 'salary': 8900, 'address': 'No 10 Abule-Egba Lagos'}
Employee changed name {'name': 'Mr Adenitire', 'position': 'Mid-Level', 'salary': 8900, 'address': 'No 10 Abule-Egba Lagos'}
Updated version after remove address {'name': 'Mr Adenitire', 'position': 'Mid-Level', 'salary': 8900}
dict_values(['Mr Adenitire', 'Mid-Level', 8900])
Adenitire Ayomikun

In [30]:
ccna_devnet_member = [{"name": "Adenitire"},{"name": "Tayo"},{"name":"Bimbo"}]
print(ccna_devnet_member)

[{'name': 'Adenitire'}, {'name': 'Tayo'}, {'name': 'Bimbo'}]

In [39]:
#ARIMETHICS
#addition
sum_of_two_numbers = 20 + 30
print(sum_of_two_numbers)
#substraction
sub_of_two_numbers = 20 - 10
print(sub_of_two_numbers)
sum_of_two_string = "20" + "30"
print(sum_of_two_string)
# division / * 
modulo = 4 % 2
print(modulo)
floor_implementation = 4//3
print(floor_implementation)

50
10
2030
0
1

In [44]:
# CONDITIONAL STATEMENT
#comparsion example: >,<,==,<=,>=
first_num = 10
second_num = 30
is_first_num_g_second_num = second_num >= first_num
print(is_first_num_g_second_num)

True

In [50]:
# CONDITIONAL STATEMENT
voter_age = 89
if voter_age >= 18:
    print("You are eligible to vote")
elif voter_age == 17.5:
    print("You will be eligible to vote in next 5 month")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [69]:
# LOOPING STATEMENT
list_of_ages = [20,30,50,60] 
my__tuple =(2,4,6,)
# FOR LOOP and WHILE
for age in list_of_ages:
    print(age)

#tuple
for ty in my__tuple:
    print(ty)

# dictionary
my_dictionary = {"name":"Ayo", "age":24}
for key,value in my_dictionary.items():
    print(key,value)

count = 0
while count < len(list_of_ages):
    print(list_of_ages[count],'index of', count)
    count= count + 1

20
30
50
60
2
4
6
name Ayo
age 24
20 index of 0
30 index of 1
50 index of 2
60 index of 3

In [80]:
# IMPLEMENT OF METHODS AND CLASS IN PYTHON

def add():
    a = 10
    b = 20
    c = a + b
    print(c)
add() # call a function without an argment

def add_with_args(a,b):
    c = a + b
    print(c)
add_with_argment(10,10)

30
20

In [85]:
#SCENARIO 1
def detect_ip_adrress():
    ip_address = ["127.0.0.1","192.168.0.1","192.168.9.0"]
    for ip in ip_address:
        print(ip)
detect_ip_adrress()
print("=========================")
#SCENARIO 2
def detect_ip_address_with_args(ip_addresses):
        for ip in ip_addresses:
            print(ip)
ip_addresses = ['190.9.0.','178.0.0.1']
detect_ip_address_with_args(ip_addresses)

127.0.0.1
192.168.0.1
192.168.9.0
=========================
190.9.0.
178.0.0.1

In [87]:
# PYTHON CLASS
class Employee:
    pass
employee = Employee()
employee.first_name = "Adenitie"
employee.second_name= "Ayo"
print(employee.first_name)

Adenitie

In [ ]:
list_of_student_results =  [89,10,57,70,40,38]
# Hint: Combination of for loop and conditional statement with comparison